# Spotify Web API - Client Credentials
# Create an app at https://developer.spotify.com/dashboard
VITE_SPOTIFY_CLIENT_ID=
VITE_SPOTIFY_CLIENT_SECRET=

# GetSongBPM API
# Get an API key at https://getsongbpm.com/api
VITE_GETSONGBPM_API_KEY=
